<mat-card>
  <mat-card-title>
    Errors Presenter Component
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>Max Length: 5 - Required Field</mat-label>
        <input matInput
          placeholder="Required and Max length 5"
          formControlName="input">
        <mat-hint>Type more than 5 characters</mat-hint>
        <mat-error>
          <fveh-errors-presenter [field]="form.get('input')"></fveh-errors-presenter>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>