<div>
  <mat-toolbar color="secondary">
    <div>
      <!-- <img src="assets/logo.png"
        alt="Logo"
        class="logo"> -->
    </div>
    <div class="welcome-texts">
      <div class="welcome-text-title">Welcome to NG Form Validations Errors Helper</div>
      <div class="welcome-text-subtitle">Some helpers to help you with form validation :)</div>
    </div>
    <!-- <span class="fill-remaining-space"></span> -->

    <div>
      <a mat-button
        href="https://github.com/guilhermewaess/ng-fveh"
        target="_blank">
        <img class="nav-github-logo"
          src="./assets/icons/GitHub-Mark-120px-plus.png"
          alt="GitHub">
        <span>GitHub</span>
      </a>
    </div>
  </mat-toolbar>
</div>